@mixin button-style($bg-color: #0046FF, $btn-padding : 20px 30px ){
        padding: $btn-padding;
        background: $bg-color;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 15px;
}