@import "button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#secone {

    //  navbar section of section one
    nav {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        #logo {
            height: 100%;
            width: 200px;
            background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67a28c9290fe61ad3f0bf2b0_Frame%202147226763.webp);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        #menu {

            a {
                text-decoration: none;
                color: #000;
                margin: 15px;
                font-size: 1.2rem;
            }

        }

        button {
            @include button-style(#0161fe, 15px 30px);
        }
    }

    // hero section of section one.
    #hero {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background: whitesmoke;
        margin: 20px;
        padding: 30px;
        border-radius: 20px;

        #fhalf {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #icon {
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                width: 25%;
            }

            h2 {
                font-size: 50px;
            }

            p {
                text-align: justify;
            }

            .btn {
                display: flex;
                gap: 20px;

                #btnx {
                    @include button-style(#0161fe, 15px 30px)
                }

                #btny {
                    padding: 15px 30px;
                    background: transparent;
                    color: #0161fe;
                    border: 2px solid #0161fe;
                    outline: none;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 15px;
                }
            }

            #stats {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;

                div {
                    p {
                        text-align: center;
                        font-size: 13px;
                    }
                }

            }


        }

        #shalf {
            margin: 8%;

            #hero-img {
                height: 100%;
                width: 100%;
                background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67a5fbb5273bae41bd4e018f_Frame%202147223583.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 50px;
            }
        }
    }
}

// SECTION : TWO
#sectwo {
    #hero {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 20px;
        padding: 30px;
        border-radius: 20px;

        #fhalf {
            margin: 8%;

            #hero-img {
                height: 100%;
                width: 100%;
                background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b38e80c83c6c679b66628e_Frame%202147226849.webp);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 50px;
            }
        }

        #shalf {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #icon {
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                width: 25%;
            }

            h2 {
                font-size: 50px;
            }

            p {
                text-align: justify;
            }

            #check {
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: #0161fe;

                div {
                    margin-top: 10px;
                }
            }
        }
    }
}

// SECTION : THREE
#secthree {
    #hero {
        height: 100vh;
        display: grid;
        grid-template-rows: 2fr 8fr;
        margin: 20px;
        padding: 30px;
        border-radius: 20px;

        #fhalf {
            #icon {
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                width: 15%;
            }

            #content {
                display: flex;
                height: 100px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

                p {
                    font-size: 25px;
                }

                button {
                    @include button-style(#0161fe, 15px 30px)
                }
            }
        }

        #shalf {
            #up {
                height: 200px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr 1fr;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 30px;
                    padding: 25px;
                }

                #bg {
                    background: whitesmoke;
                    color: #000;

                    #circle {
                        margin-left: 20px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        background-color: #0161fe;
                        color: #fff;
                    }
                }

                .extra {
                    background: #0161fe;
                    color: #fff;

                    #circle {
                        margin-left: 20px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        background-color: rgba(255, 255, 255, 0.4);
                    }
                }
            }

            #down {
                margin-top: 5%;
                height: 200px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr 1fr;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 50px;
                    padding: 25px;
                }

                #bg {
                    background: whitesmoke;
                    color: #000;

                    #circle {
                        margin-left: 20px;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        background-color: #0161fe;
                        color: #fff;
                    }
                }


            }
        }
    }
}

// SECTION : FOUR
#secfor {
    #hero {
        height: 100vh;
        display: grid;
        grid-template-rows: 2fr 8fr;
        margin: 20px;
        padding: 30px;
        border-radius: 20px;

        #fhalf {
            #icon {
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                width: 15%;
            }

            #content {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                height: 100px;
                width: 100%;
                align-items: center;
                margin-top: 1rem;

                div {
                    font-size: 15px;
                }

                #large {
                    font-size: 30px;
                }

            }
        }

        #shalf {
            #up {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px;


                div {
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    border-radius: 25px;
                    padding-bottom: 20px;
                    color: #fff;
                }

                #img1 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b497214d8ad2e2f969a0a9_Frame%202147223608.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img2 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b497216d6cf1b3731cd1e1_Frame%202147227011.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img3 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b497217154b2d05e75c880_Frame%202147223609.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img4 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b35520b45a03302d97d737_Frame%201171275944.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

            }

            #down {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px;


                div {
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    border-radius: 25px;
                    padding-bottom: 20px;
                    color: #fff;
                }

                #img5 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b38e80c83c6c679b66628e_Frame%202147226849.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img6 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b357f7f46bd864caf644b3_Frame%201171275942.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img7 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b357f8761984bd4860afe4_Frame%201171275937.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #img8 {
                    background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b357f8f09894217872de17_Frame%201171275943.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}

// SECTION : FIVE
#secfiv {
    margin-top: 50vh;

    #hero {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background: whitesmoke;
        margin: 20px;
        padding: 30px;
        border-radius: 20px;

        #fhalf {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #icon {
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                width: 25%;
                margin-bottom: 20px;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 20px;
            }

            #socialx {
                #social{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                margin-bottom: 10px;
                #circle{
                    display: flex;
                    height: 3rem;
                    width: 3rem;
                    border: 1px solid #000;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                }
            }
            }
        }

        /* 👇 #shalf should be outside #fhalf */
        #shalf {
            margin: 8%;

            #hero-img {
                height: 100%;
                width: 100%;
                background: url("https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b470ea3e3c9137df817a61_Graphic.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 50px;
            }
        }
    }
}

// SECTION : SIX
#secsix{
    #hero{
        height: 70vh;
        background: #232323;
        color: #fff;
        margin: 20px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8fr 2fr ;

        #fhalf{
            margin: 10%;

            #logo{
                height: 100px;
                width: 200px;
                background: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67a493a166aa2cbf283775f9_Frame%202147226831.webp);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            #notification{
                font-size: 25px;
            }

            #email{
                margin-top: 0.7rem;
                input{
                    outline: none;
                    border: none;
                    padding: 10px 3.5rem;
                    padding-left: 15px;
                    margin-right: 10px;
                    border-radius: 50px;
                    background: rgb(118, 118, 118);
                }
                input::placeholder {
                 font-size: 1.2em; 
                 color: rgb(174, 174, 174);
                }
                
                button{
                    @include button-style(#0161fe, 10px 25px)
                }
            }
        }

        #shalf{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 10%;
            div{
                display: flex;
                flex-direction: column;

                a{
                    text-decoration: none;
                    color: rgb(118, 118, 118);
                    margin: 1.5rem;
                }

                #seprate{
                    color: #fff;
                }
            }
        }
        #last{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            width: 200%;
            #social{
                display: flex;
                gap: 1rem;
                margin-bottom: 10px;
                #circle{
                    display: flex;
                    height: 3rem;
                    width: 3rem;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}