@import "box";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.container{
    padding: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "main  hero hero hero"
        "main  hero hero hero"
        "main  img1 img2 img3"
    ;
    gap: 10px;
    height: 90%;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    #main{
        grid-area: main;
        background: url(https://i.pinimg.com/1200x/c6/90/57/c69057727d937fd1918dbd710ddbe6ca.jpg) ;
        @include box-pro();
    }
    #hero{
        grid-area: hero;
        background: url(https://i.pinimg.com/1200x/6b/08/ab/6b08ab9dc9f305652657a5aead75742e.jpg) ;
        @include box-pro();
    }
    #img1{
        grid-area: img1;
        background: url(https://i.pinimg.com/736x/24/aa/07/24aa07e2f43048c82671aac53eff44b3.jpg) ;
        @include box-pro();
    }
    #img2{
        grid-area: img2;
        background: url(https://i.pinimg.com/736x/5b/7a/94/5b7a94ccc32ca7d06e05c8edef1df502.jpg) ;
        @include box-pro();
    }
    #img3{
        grid-area: img3;
        background: url(https://i.pinimg.com/1200x/92/26/2e/92262ee8e6f98c524a50705644b2d2b0.jpg) ;
        @include box-pro();
    }
    
}


